@use '@/styles/package' as *;

.home {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $foundation;
  z-index: 1;
}

.menuBar {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;

  .savePhoto,
  .share {
    background-color: $distinctive;
    border-radius: 9999px;
    padding: 0.5rem 0.7rem;
    font-size: 0.9rem;
    display: flex;
    align-items: center;

    i {
      margin-right: 0.5rem;
      font-weight: 400;
    }
  }

  .share {
    margin-left: 0.5rem;
  }
}

.saying {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 0 2rem;
  max-width: 35rem;
  margin: 7rem 0;
  text-align: center;

  @include narrower-than(700px) {
    font-size: 0.8rem;
  }
}

.paragraph {
  font-family: Arita;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.5;

  .word {
    white-space: nowrap;
  }

  .character {
    $blur-amount: 20px;

    @keyframes effect {
      0% {
        opacity: 0;
        filter: blur($blur-amount);
      }
      100% {
        opacity: 1;
        filter: blur(0px);
      }
    }

    display: inline-block;
    opacity: 0;
    filter: blur($blur-amount);
    animation: effect 1.2s ease forwards;
    will-change: opacity;
  }
}

.author {
  font-family: Arita;
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 3rem;
  opacity: 0;
  filter: blur(5px);

  &.visible {
    $transition-time: 1.5s;
    transition: opacity $transition-time ease, filter $transition-time ease;
    filter: blur(0px);
    opacity: 1;
  }
}

.credit {
  color: #8c97a0;
  text-align: center;
  margin-bottom: 2rem;
}
