@use '@/styles/package' as *;

.home {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 7rem);
  width: 100%;
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.saying {
  display: flex;
  flex-direction: column;
  font-family: Arita;
  font-size: 1rem;
  padding: 0 2rem;
  max-width: 35rem;
  margin: auto;

  @include narrower-than(700px) {
    font-size: 0.8rem;
  }
}

.paragraph {
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.5;
}

.author {
  margin-top: 3rem;
  font-size: 1.5em;
  font-weight: 600;
  text-align: left;
}
